/* margin: 0 auto środkuje, flex-direction układa je pod sobą */
div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  color: #222;
}

/* jeśli mamy układ kolumnowy to flex-basis określa wysokość */
header {
  flex-basis: 30vh;
}

/* chcemy aby main urusł max więc piszemy flex-grow: 1 */
/* aby ustawić NAV i Page obok to trzeba main dać display flex a dzieci się ustawią obok siebie*/
main {
  display: flex;
  flex-grow: 1;
  padding: 30px 0;
}

aside {
  min-width: 240px;
}

/* flex-grow: 1 powoduje ze urośnie na całość */
section.page {
  flex-grow: 1;
}

footer {
  background-color: #000;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: #fff;
  text-decoration: none;
}

@media (orientation: landscape) and (max-width: 640px) {
  aside {
    width: 180px;
  }
}

@media (orientation: portrait) and (max-width: 414px) {
  main {
    flex-direction: column;
    text-align: center;
  }

  aside {
    margin-bottom: 30px;
  }

  footer {
    font-size: 14px;
  }
}
